---
layout: page
title: books
---

{%- include collection_stats.html collection_name="books" data_file="books.csv" -%}

{% assign unique_years = site.data.books | map: "year_read" | uniq | reverse %}
{% for year in unique_years %}
<section class="pt-4">
<h2 class="text-lg">{{ year }}</h2>
{% assign filtered_books = site.data.books | where: "year_read", year %}
<p><strong>{{ filtered_books | size }}</strong> books read:</p>
<ul id="books__{{ year }}" class="list-outside list-disc">
{% for book in filtered_books %}
  <li class="ms-4 mt-2">"{{ book.title }}" by {{ book.author }}</li>
{% endfor %}
</ul>
{% endfor %}
</section>

{%- include back_to_top_button.html -%}
