---
layout: page
title: ferments
---

{%- include collection_stats.html collection_name="ferments" data_file="ferments.json" -%}

{%- assign button_id = "include_details" -%}
{%- assign details_ul_class = "ferment_details" -%}
{%- assign show_btn_text = "Show Log Details" -%}
{%- assign hide_btn_text = "Hide Log Details" -%}
<section>
  <button id={{ button_id }} type="button" class="w-full border-2 border-solid rounded border-cursor hover:border-selection mt-2 px-2 py-1 text-cursor hover:text-selection">{{ show_btn_text }}</button>
</section>

{%- assign in_progress = site.data.ferments | where_exp: "item", "item.bottlingDate == nil" -%}
<section class="my-2">
  <h2 class="text-xl">still cookin'</h2>
  <p>
    <strong>{{ in_progress | size }}</strong> ferments still aging:
    <ul class="list-outside list-disc">
    {% for ferment in in_progress %}
      <li class="ms-4 mt-1">
        "{{ ferment.ferment }}" ({{ ferment.id }} - {{ ferment.type }})
        <ul class="{{ details_ul_class }} list-outside list-[circle] hidden text-sm">
          <li class="ms-4 mt-1">Started {{ ferment.primaryStartDate }}{% if ferment.startingSG != nil %} with SG ~ {{ ferment.startingSG }}{% endif %}</li>
          <li class="ms-4 mt-1">{{ ferment.gallon }} gallon batch using {{ ferment.yeast }}</li>
          {% if ferment.oakStartDate != nil %}
          <li class="ms-4 mt-1">
            Oaked using {{ ferment.oakAmount }} of {{ ferment.oakFlavor }} {{ ferment.oakType}}
            {% if ferment.oakEndDate != nil %}from {{ ferment.oakStartDate }} to {{ ferment.oakEndDate }}
            {% else %}since {{ ferment.oakStartDate }}
            {% endif %}
          </li>
          {% endif %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </p>
</section>

{%- assign completed = site.data.ferments | where_exp: "item", "item.bottlingDate != nil" -%}
<section class="my-2">
  <h2 class="text-xl">completed</h2>
  <p>
    <strong>{{ completed | size }}</strong> ferments completed and bottled:
    <ul class="list-outside list-disc">
      {% for ferment in completed %}
      <li class="ms-4 my-1">
        "{{ ferment.ferment }}" ({{ ferment.id }} - {{ ferment.type }})
        <ul class="{{ details_ul_class }} list-outside list-[circle] hidden text-sm">
          <li class="ms-4 mt-1">Started {{ ferment.primaryStartDate }}{% if ferment.startingSG != nil %} with SG ~ {{ ferment.startingSG }}{% endif %}</li>
          <li class="ms-4 mt-1">Bottled {{ ferment.bottlingDate }}{% if ferment.finalSG != nil %} with final SG ~ {{ ferment.finalSG }}{% endif %}</li>
          <li class="ms-4 mt-1">{{ ferment.gallon }} gallon batch using {{ ferment.yeast }}</li>
          {% if ferment.oakStartDate != nil %}
          <li class="ms-4 mt-1">
            Oaked using {{ ferment.oakAmount }} of {{ ferment.oakFlavor }} {{ ferment.oakType}}
            {% if ferment.oakEndDate != nil %}
            from {{ ferment.oakStartDate }} to {{ ferment.oakEndDate }}
            {% else %}
            since {{ ferment.oakStartDate }}
            {% endif %}
            </li>
          {% endif %}
          {% if ferment.carbonationMethod != nil %}
          <li class="ms-4 mt-1">Carbonated via {{ ferment.carbonationMethod }}</li>
          {% endif %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </p>
</section>

<script>
function show_hide_button() {
    var flavors = document.getElementsByClassName("{{ details_ul_class }}");
    for (var i = 0; i < flavors.length; i++) {
        if (flavors[i].classList.contains("hidden")) {
            flavors[i].classList.remove("hidden");
            flavors[i].classList.add("block");
        } else {
            flavors[i].classList.remove("block");
            flavors[i].classList.add("hidden");
        }
    }

    var btn = document.getElementById("{{ button_id }}");
    if (btn.textContent === "{{ show_btn_text }}") {
        btn.textContent = "{{ hide_btn_text }}";
    } else {
        btn.textContent = "{{ show_btn_text }}";
    }
}

document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("{{ button_id }}").addEventListener("click", show_hide_button);
});
</script>
