---
layout: page
title: books
---

{%- include collection_stats.html collection_name="books" data_file="books/books.json" -%}

{% assign unique_years = site.data.books | map: "yearRead" | uniq | reverse %}
<div class="books">
  {% for year in unique_years %}
  <section id="books_{{ year }}">
    <h2>{{ year }}</h2>
    {% assign filtered_books = site.data.books | where: "yearRead", year %}
    <p><strong>{{ filtered_books | size }}</strong> books read:</p>
    {% for book in filtered_books %}
      <p class="book">
        <span class="book-bullet">&bullet;</span>
        <span class="book-details">"{{ book.title }}" by {{ book.author }}</span>
        <span class="book-type">{{ book.type }}</span>
      </p>
    {% endfor %}
  </section>
  {% endfor %}
</div>
