---
layout: page
title: books
---

{%- include collection_stats.html collection_name="books" data_file="books/books.json" -%}

{% assign unique_years = site.data.books | map: "yearRead" | uniq | reverse %}
{% for year in unique_years %}
<section>
<h2>{{ year }}</h2>
{% assign filtered_books = site.data.books | where: "yearRead", year %}
<p><strong>{{ filtered_books | size }}</strong> books read:</p>
<ul id="books__{{ year }}">
{% for book in filtered_books %}
  <li>
    <p>&bullet;</p>
    <p>"{{ book.title }}" by {{ book.author }}</p>
    <p>{{ book.type }}</p>
  </li>
{% endfor %}
</ul>
{% endfor %}
</section>
