---
layout: page
title: ferments
---

{%- include collection_stats.html collection_name="ferments" data_file="ferments/ferments.json" -%}

{%- assign in_progress = site.data.ferments | where_exp: "item", "item.bottlingDate == nil" -%}
{%- assign num_in_progress = in_progress | size -%}
<section>
  <h2>still cookin'</h2>
  {% if  num_in_progress > 0 %}
  <p><strong>{{ num_in_progress }}</strong> ferments still aging:</p>
  {% else %}
  <p>nothin' in the pot right now.</p>
  {% endif %}
  {% for ferment in in_progress %}
  <details>
    <summary>"{{ ferment.ferment }}" ({{ ferment.id }} - {{ ferment.type }})</summary>
    <ul>
      <li>Started {{ ferment.primaryStartDate }}{% if ferment.startingSG != nil %} with SG ~ {{ ferment.startingSG }}{% endif %}</li>
      <li>{{ ferment.gallon }} gallon batch using {{ ferment.yeast }}</li>
      {% if ferment.oakStartDate != nil %}
      <li>
        Oaked using {{ ferment.oakAmount }} of {{ ferment.oakFlavor }} {{ ferment.oakType}}
        {% if ferment.oakEndDate != nil %}from {{ ferment.oakStartDate }} to {{ ferment.oakEndDate }}
        {% else %}since {{ ferment.oakStartDate }}
        {% endif %}
      </li>
      {% endif %}
    </ul>
  </details>
  {% endfor %}
</section>

{%- assign completed = site.data.ferments | where_exp: "item", "item.bottlingDate != nil" -%}
<section>
  <h2>completed</h2>
  <p><strong>{{ completed | size }}</strong> ferments completed and bottled:</p>
  {% for ferment in completed %}
  <details>
    <summary>"{{ ferment.ferment }}" ({{ ferment.id }} - {{ ferment.type }})</summary>
    <ul>
      <li>Started {{ ferment.primaryStartDate }}{% if ferment.startingSG != nil %} with SG ~ {{ ferment.startingSG }}{% endif %}</li>
      <li>Bottled {{ ferment.bottlingDate }}{% if ferment.finalSG != nil %} with final SG ~ {{ ferment.finalSG }}{% endif %}</li>
      <li>{{ ferment.gallon }} gallon batch using {{ ferment.yeast }}</li>
      {% if ferment.oakStartDate != nil %}
      <li>
        Oaked using {{ ferment.oakAmount }} of {{ ferment.oakFlavor }} {{ ferment.oakType}}
        {% if ferment.oakEndDate != nil %}
        from {{ ferment.oakStartDate }} to {{ ferment.oakEndDate }}
        {% else %}
        since {{ ferment.oakStartDate }}
        {% endif %}
        </li>
      {% endif %}
      {% if ferment.carbonationMethod != nil %}
      <li>Carbonated via {{ ferment.carbonationMethod }}</li>
      {% endif %}
    </ul>
  </details>
  {% endfor %}
</section>
