{% assign tableId = include.tableId %}
{% assign rows = include.data %}

<p>There have been <strong>{{ rows | size }}</strong> entries logged in this collection.</p>

<table id="{{ tableId }}">
{% for row in rows %}
    {% if forloop.first %}
    <thead>
        <tr>
            {% for pair in row %}
            <th style="text-transform: capitalize">{{ pair[0] | replace: "__", "/" | replace: "_", " " }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% endif %}
    {% tablerow pair in row %}
        {{ pair[1] }}
    {% endtablerow %}
{% endfor %}
</table>
