{% assign collection_name = include.collection_name -%}
{% assign data_file = include.data_file -%}

{% assign data_url = "assets/data/" | append: data_file -%}
{% assign collection_size = 0 -%}

{%- for coll in site.data -%}
  {%- if coll.first == collection_name -%}
    {%- assign collection_size = coll.last | size -%}
  {%- endif -%}
{%- endfor -%}

<section class="lg:columns-2">
  <p>There have been <strong>{{ collection_size }}</strong> {{ collection_name }} logged overall.</p>
  <span class="lg:float-right border-2 border-solid rounded border-zinc-700 hover:border-zinc-500">
    <a href="{{ data_url | relative_url }}" class="text-zinc-700 hover:text-zinc-500 p-2">Download CSV</a>
  </span>
</section>
