{% assign collection_name = include.collection_name -%}
{% assign data_file = include.data_file -%}

{% assign collection_size = 0 -%}

{%- for coll in site.data -%}
  {%- if coll.first == collection_name -%}
    {%- assign collection_size = coll.last | size -%}
  {%- endif -%}
{%- endfor -%}

<section>
  <p>There have been <strong>{{ collection_size }}</strong> {{ collection_name }} logged overall.</p>
  <div>
    <button id={{ button_id }} type="button" onclick="window.open('{{ data_file | relative_url }}')">Download {{ collection_name }}</button>
  </div>
</section>
