{% assign meads = include.meads %}
{% assign meadery = include.meadery %}

{% assign meadery_meads = meads | where: "meadery", meadery %}
{% assign num_meads = meadery_meads | size %}

## {{ meadery }}
<strong>{{ num_meads }}</strong>
{% if num_meads == 1 %}mead{% else %}meads{% endif %} enjoyed:
<ul class="meads">
{% for mead in meadery_meads %}
    <li class="mead">{{ mead.mead }}</li>
    <ul class="flavors" style="display: none">
        <li class="flavor">"{{ mead.flavors__tasting_notes }}"</li>
    </ul>
{% endfor %}
</ul>
