/* Utilizing recommended reset layer from "CSS in Depth, 2nd ed." */
@layer reset, theme, base, layout, modules, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: unset;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@layer theme {
  :root {
    /* utilizing rosé pine for color scheme */
    --background-color: #232136;
    --text-color: #e0def4;
    --text-secondary: #908caa;
    --highlight-high: #56526e;
    --color-love-moon: #eb6f92;
    --color-love-dawn: #b4637a;
    --color-subtle-moon: #908caa;
    --color-subtle-dawn: #797593;
    --color-foam-moon: #9ccfd8;
    --color-foam-dawn: #56949f;

    accent-color: var(--color-love-dawn);

    --font-main: system-ui, Arial, sans-serif;
    --font-monospace: "Lucida Console", monospace;

    --column-size: 760px;

    --margin-y: 15px;
  }
}

@layer base {
  :root {
    font-size: clamp(1rem, 0.4rem + 0.8svw, 1.2rem);
  }

  body {
    font-family: var(--font-main);
    background-color: var(--background-color);
    color: var(--text-color);
  }

  a:any-link {
    color: var(--color-foam-moon);
    text-decoration: unset;
  }

  a:any-link:hover {
    color: var(--color-foam-dawn);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-monospace);
    text-transform: lowercase;
    margin: unset;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.65rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 2.2rem;
    }

    h2 {
      font-size: 1.85rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  p {
    margin: var(--margin-y) 0;
  }

  ul {
    margin: var(--margin-y) 0;
    padding-inline-start: 20px;
  }

  li + li {
    margin-block-start: 0.5em;
  }

  @media (min-width: 768px) {
    li + li {
      margin-block-start: 0.3em;
    }
  }

  details {
    margin: var(--margin-y) 0;
  }

  details > summary {
    cursor: pointer;
  }

  footer {
    font-size: 0.8rem;
  }
}

@layer layout {
  body .container {
    margin: 10px 10px 0;
  }

  @media (min-width: 768px) {
    body .container {
      max-width: var(--column-size);
      margin: 15px auto 0;
    }
  }
}

@layer modules {
  #back {
    font-size: 2rem;
    padding-inline: 0.5em;
  }

  #posts {
    padding-inline-start: 0;
  }

  #posts > li {
    list-style-type: none;
  }

  .post-date {
    font-family: var(--font-monospace);
    font-size: 0.8rem;
    color: var(--color-subtle-moon);
    margin-inline-end: 5px;
  }

  @media (min-width: 768px) {
    .post-date {
      margin-inline-end: 10px;
    }
  }

  #collection-stats {
    margin-block-start: 0.5em;
    margin-block-end: 1em;
  }

  @media (min-width: 768px) {
    #collection-stats {
      margin-block: 0.5em;
    }
  }

  .button {
    width: 100%;
    border: solid 2px var(--color-love-moon);
    border-radius: 0.375em;
    color: var(--color-love-moon);
    background-color: transparent;
    cursor: pointer;
    padding-block: 0.5em;
  }

  .button:hover {
    color: var(--color-love-dawn);
    border-color: var(--color-love-dawn);
  }

  @media (min-width: 768px) {
    .button {
      width: auto;
      border-radius: 0.5em;
      padding-inline: 1em;
      padding-block: 0.25em;
    }
  }

  #back-to-top {
    width: 100%;
    font-size: 1rem;
    padding-block: 0.5em;
    margin-block-start: 0.5em;
    margin-block-end: 1.5em;
  }

  .books > section:not(:first-child) {
    margin-block-start: 2em;
  }

  .book {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
  }

  .book-bullet {
    flex-basis: 3%;
  }

  .book-details {
    flex-basis: 75%;
  }

  .book-type {
    flex-basis: 20%;
    align-self: self-start;
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-subtle-moon);
    border: solid 1px var(--color-subtle-moon);
    border-radius: 0.25em;
    padding-inline: 0.3em;
    padding-block: 0.2em;
  }

  .mead-name {
    font-weight: 500;
  }

  .mead-description {
    color: var(--text-secondary);
  }

  .ferment > ul {
    margin-inline-start: 0.8em;
  }

  .ferment-id {
    color: var(--text-secondary);
  }
}

@layer utilities {
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .flex-to-row {
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .flex-to-row {
      flex-direction: row;
    }
  }
}
