<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- if page.title and page.name != "index.html" -%}
    <title>{{ page.title }} | {{ site.title }}</title>
    {%- else -%}
    <title>{{ site.title }}</title>
    {%- endif -%}
    <link rel="stylesheet" href={{ "./assets/css/main.css" | relative_url }} />
  </head>
  <body class="container bg-background text-text text-lg h-full w-9/12 md:w-6/12 lg:w-5/12 mx-auto py-12">
    <main>
      {{ content }}
    </main>
  </body>
</html>
