<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- if page.title and page.name != "index.markdown" -%}
    <title>{{ page.title }} | {{ site.title }}</title>
    {%- else -%}
    <title>{{ site.title }}</title>
    {%- endif -%}
    <link rel="stylesheet" href={{ "./assets/css/main.css" | relative_url }} />
  </head>
  <body class="bg-slate-200">
    <main class="container 2xl:px-96 xl:px-80 lg:px-64 md:px-48 sm:px-28 px-12 pt-12">
      {{ content }}
    </main>
  </body>
</html>
