---
layout: page
---
<section class="lg:columns-2">
  <h1 class="lg:text-xl text-lg lowercase font-medium text-nowrap">{{ page.title }}</h1>
  <span class="lg:float-right text-subtle-moon lg:text-base text-sm">{{ page.date | date: "%Y-%m-%d" }}</span>
</section>

<article class="mt-2 mb-16 space-y-4 [&_a]:text-foam-moon [&_a:hover]:text-foam-dawn [&_a]:underline [&_a]:decoration-dotted [&_a]:decoration-2 [&_hr]:display-block [&_hr]:border-1 [&_hr]:border-solid [&_hr]:border-highlight-high [&_hr]:mx-32 [&_hr]:mx-auto [&_ul]:list-outside [&_ul]:list-disc [&_ol]:list-outside [&_ol]:list-decimal [&_li]:ms-4 [&_li]:mt-2 [&_li_ul_li]:list-[circle]">
{{ content }}
</article>
